body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.OrangeColor {
  color: orange;
}

.btn-warning {
  background-color: orange !important;
}

.btn-warning:hover {
  background-color: darkorange !important;
  border-color: darkorange !important;
}

.btn-outline-warning {
  color: orange !important;
  border-color: orange !important;
}

.btn-outline-warning:hover {
  background-color: orange !important;
  color: black !important;
  border-color: orange !important;
}
